<html>
<head>
	<link rel="stylesheet" type="text/css" href="/style/default.css">
	<link rel="stylesheet" type="text/css" href="/style/nav.css">
	<link rel="stylesheet" type="text/css" href="/style/bg_image.css">
</head>
<title>{{ title }}</title>
<body>
	<div class="header">
		<div class="nav">
			<button onclick="myFunction()" class="dropbtn">Nav</button>
			<div id="myDropdown" class="dropdown-content">
			
			<ul>
				<li>
					<a href="{{ nav.href }}">{{ nav.text }}</a>
					<ul>
					{% for n1 in nav.children %}
						<li>
							<div>
								<button onclick="myFunction2(this)">v</button>
								<a href="{{ n1.href }}">{{ n1.text }}</a>
							</div>
							<ul class="dropdown-sub">
							{% for nav2 in n1.children %}
								<li>
									<div>
										{% if nav2.children %}
										<button onclick="myFunction2(this)">v</button>
										{% endif %}
										<a href="{{ nav2.href }}">{{ nav2.text }}</a>
									</div>
									<ul class="dropdown-sub">
									{% for n3 in nav2.children %}
										<li>
											<a href="{{ n3.href }}">{{ n3.text }}</a>
										</li>
									{% endfor %}
									</ul>
								</li>
							{% endfor %}
							</ul>
						</li>
					{% endfor %}
					</ul>
				</li>
			</ul>

			</div>
		</div>

		<div class="title">
			<h1>{{ title }}</h1>
		</div>
	</div>
	
	<div class="content">
	{% block content %}{% endblock %}
	</div>

<script>
	/* When the user clicks on the button, 
	toggle between hiding and showing the dropdown content */
	function myFunction() {
	    document.getElementById("myDropdown").classList.toggle("show");
	}
	
	function myFunction2(element) {
		ul = element.parentElement.parentElement.getElementsByTagName('ul')[0];
		ul.classList.toggle("show");

		if(element.innerHTML=="v"){
			element.innerHTML="^";
		} else {
			element.innerHTML="v";
		}
	}

	// Close the dropdown menu if the user clicks outside of it
	window.onclick = function(event) {
	  if (event.target.matches('.dropbtn')) return;
	  if (event.target.matches('.dropdown-content button')) return;

	  var dropdowns = document.getElementsByClassName("dropdown-content");
	  var i;
	  for (i = 0; i < dropdowns.length; i++) {
	    var openDropdown = dropdowns[i];
	    if (openDropdown.classList.contains('show')) {
	      openDropdown.classList.remove('show');
	    }
	  }
	  
	}
</script>


</body>
</html>
