body {
	font-family: Arial, Helvetica, sans-serif;
	margin:  0px;
	padding: 0px;
}
.fancy_link {

}
.header {
	text-align: center;
}
.cols td {
	width:400px;
}
div.note {
	background-color: #eee;
	border: 1px solid #ccc;
	float: left;
}
div.form {
	border-style: solid;
	border-width: 1px;
	border-color: #888888;
	padding: 10px;
	float: left;
}
div.topbar {
	background-color: #8888ff;
}

.note-title {
	font-weight:bold;
}
.head {
	text-align:center;
	font-size:1.5em;
}
h1 {
	font-size:1.5em
}
h2 {
	font-size:1.17em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
table, td, th {
	border: 1px solid;
	border-collapse: collapse;
}
td, th {
	padding: 5px;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	h1 {
		font-size:3em;
	}
}




