body {
	/*font-family: "Lucida Console", Monaco, monospace;*/
	font-family: Monaco, monospace;
	margin: 0px;
}

div.header {
	background-color: #88FFAA;
}

div.title {
	padding: 10px;
}

.title h1 {
	margin-left: 3em;
}

div.content {
}

div.text {
	margin: auto;
	width: 60%;
}

div.nav1 {
	height: 100px;
	background-color: #88AAFF;
	padding: 10px;
	background-size: contain;

	color: #ffffff;
}
a {
	text-decoration: none;
}
div.nav1 h2 {
	text-decoration: none;
}

div.nav1:hover {
	background-color: #FFFF00;
}

h1 {
	margin: 0px;
}
h2 {
	margin: 0px;
}



