<html>
<head>
<link rel="stylesheet" type="text/css" href="/style/default.css">
<link rel="stylesheet" type="text/css" href="/style/nav.css">
</head>
<title>{{ title }}</title>
<body>
	<div class="header">
		<div class="nav">
			<button onclick="myFunction()" class="dropbtn">Dropdown</button>
			<div id="myDropdown" class="dropdown-content">
			{{ nav }}
			</div>
		</div>

		<div class="title">
			<h1>{{ title }}</h1>
		</div>
	</div>
	
	<div class="content">
	{% block content %}{% endblock %}
	</div>

<script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown menu if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {

    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>


</body>
</html>
